body {
    background-color: #5070b4;
}

.container {
    background-color: #638ae0;
    display: flex;
    padding: 100px;
}
.navbar {
    display: flex;
    align-items: center;
}
.navbar img {
    height: 200px;
    width: 300px;
    margin-right: auto;
}

.header {
    display: flex;
    align-items:center;
    margin-left: auto;
}

.header div {
    color: #fffe5d;
    margin: 10px;
    font-family: monospace;
    font-size: 20px;
}



